SUI_NETWORK=testnet
SUI_GRPC_URL=https://fullnode.testnet.sui.io:443
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
SUI_PACKAGE_ID=
SUI_REPO_OBJECT_ID=
SUI_PRIVATE_KEY=
SUI_WALLET_CONFIG_PATH=.sui/client.yaml
WALRUS_EPOCHS=5
WALRUS_CLI_PATH=.tools/walrus.exe
WALRUS_CONFIG_PATH=.tools/walrus-client-config.yaml
